@mixin boxshadow ($property) {
    box-shadow: $property ;
    -webkit-box-shadow: $property ;
    -moz-box-shadow: $property ;
}
.box { @include boxshadow(10px 10px 19px -4px rgba(255, 255, 255, 0.75)); }

$blue: 8px ;
$red: 2*$blue ;

body {
    padding: $blue ;
}
h6 {
    padding: $red ;
}
article {
    display: flex;
    flex-wrap: wrap;
    section{
        flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    @include boxshadow(10px 10px 19px -4px rgba(255, 255, 255, 0.75));
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
    &#selling-points {
        flex-grow: 2;
        flex-basis: 100%;
    }
    }
    code {
        background: #000;
        border: 1px solid #ddd;
        color: #666;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        &.before {
            float: left;
            width: 40%;
        }
        &.after {
            float: right;
            width: 40%
        }
    }
}
%message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}
.message {
    @extend %message ;
}
.success {
    @extend %message ;
}
.error {
    @extend %message ;
}
.warning {
    @extend %message ;
}